td,
th {
  width: 150px;
}
th {background-color:red;}

table {
  table-layout: fixed;
  width:100%;
}
td:first-child, th:first-child {
  position:sticky;
  left:0;
  z-index:1;
  background-color:#FFFFFF;
  width: 250px;
}
/* td:last-child, th:last-child {
  position:sticky;
  right:0;
  z-index:1;
  background-color:blue;
} */
thead tr th {
  position:sticky;
  top:0;
}
th:first-child, th:last-child {z-index:2;background-color:red;}

#cursor {
  cursor: pointer;
}